/*whole page styling*/
* {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.whole-page {
  display: flex;
  width: 100vw;
}

.page-header {
  text-align: center;
  padding: 1.5rem;
  background-color: #050505;
  color: #A5C9FF;
}
/* form styling*/
.form-container {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  justify-content: space-around;
  border: 1px solid #050505;
  border-radius: 5%;
  padding: 2rem;
  background-color: #A5C9FF;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #A5C9FF;
}

label {
  background-color: #A5C9FF;
}

input {
  font-size: 18px;
  padding: .15rem;
}

textarea {
  overflow: hidden;
  resize: vertical;
  font-size: 18px;
  height: 1.5rem;
  padding: .1rem;
  border: #050505 2px solid;
}

.button-container {
  background-color: #A5C9FF;
  margin-top: 1rem;
}
/* cv page styling*/
.cv-page {
  flex: 2;
  justify-content: center;
}

.cv-template {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  border: #050505 1px solid;
  height: 80%;
  width: 80%;
}

.general-information {
  padding: 2rem;
  background-color: #A5C9FF;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: #050505 1px solid;
}

.cv-email-phone {
  display: flex;
  background-color: #A5C9FF;
  justify-content: center;
}

.cv-name,
.cv-email,
.cv-phone,
.diamond {
  background-color: #A5C9FF;
  font-weight: bold;
}

.cv-name {
  font-size: 48px;
}

.cv-email,
.cv-phone {
  font-size: 24px;
}

.cv-email {
  padding-right: 4rem;
}

.cv-phone {
  padding-left: 4rem;
}

.education-information-container, 
.experience-information-container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-bottom: #050505 1px solid;
  font-size: 20px;
}

.education-header,
.experience-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: .5rem;
}

.education-info {
  margin-bottom: .5rem;
}
